# Created by .ignore support plugin (hsz.mobi)
### Example user template template
### Example user template

# IntelliJ project files
.idea
*.iml
out
gen
.gitignore
.idea/compiler.xml
.idea/encodings.xml
.idea/inspectionProfiles/
.idea/libraries/Maven__com_101tec_zkclient_0_8.xml
.idea/libraries/Maven__com_belerweb_pinyin4j_2_5_0.xml
.idea/libraries/Maven__com_gbdata_common_0_1_SNAPSHOT.xml
.idea/libraries/Maven__com_gbdata_dbtools_0_1_SNAPSHOT.xml
.idea/libraries/Maven__com_gbdata_task_0_1_SNAPSHOT.xml
.idea/libraries/Maven__com_github_virtuald_curvesapi_1_04.xml
.idea/libraries/Maven__com_google_code_gson_gson_2_8_0.xml
.idea/libraries/Maven__com_google_guava_guava_21_0.xml
.idea/libraries/Maven__com_mchange_c3p0_0_9_2_1.xml
.idea/libraries/Maven__com_mchange_mchange_commons_java_0_2_3_4.xml
.idea/libraries/Maven__com_microsoft_sqlserver_sqljdbc_6_2.xml
.idea/libraries/Maven__com_rabbitmq_amqp_client_3_5_3.xml
.idea/libraries/Maven__commons_codec_commons_codec_1_10.xml
.idea/libraries/Maven__commons_io_commons_io_2_5.xml
.idea/libraries/Maven__commons_lang_commons_lang_2_6.xml
.idea/libraries/Maven__commons_logging_commons_logging_1_2.xml
.idea/libraries/Maven__commons_net_commons_net_3_3.xml
.idea/libraries/Maven__dom4j_dom4j_1_6_1.xml
.idea/libraries/Maven__io_netty_netty_3_7_0_Final.xml
.idea/libraries/Maven__javax_activation_activation_1_1.xml
.idea/libraries/Maven__javax_mail_mail_1_4.xml
.idea/libraries/Maven__jaxen_jaxen_1_1_6.xml
.idea/libraries/Maven__jline_jline_0_9_94.xml
.idea/libraries/Maven__joda_time_joda_time_2_9_7.xml
.idea/libraries/Maven__junit_junit_4_11.xml
.idea/libraries/Maven__log4j_log4j_1_2_15.xml
.idea/libraries/Maven__net_sourceforge_cssparser_cssparser_0_9_24.xml
.idea/libraries/Maven__net_sourceforge_htmlunit_htmlunit_2_28.xml
.idea/libraries/Maven__net_sourceforge_htmlunit_htmlunit_core_js_2_28.xml
.idea/libraries/Maven__net_sourceforge_htmlunit_neko_htmlunit_2_28.xml
.idea/libraries/Maven__org_apache_ant_ant_1_8_4.xml
.idea/libraries/Maven__org_apache_ant_ant_launcher_1_8_4.xml
.idea/libraries/Maven__org_apache_commons_commons_collections4_4_1.xml
.idea/libraries/Maven__org_apache_commons_commons_lang3_3_5.xml
.idea/libraries/Maven__org_apache_commons_commons_text_1_1.xml
.idea/libraries/Maven__org_apache_httpcomponents_httpclient_4_5_3.xml
.idea/libraries/Maven__org_apache_httpcomponents_httpcore_4_4_6.xml
.idea/libraries/Maven__org_apache_httpcomponents_httpmime_4_5_3.xml
.idea/libraries/Maven__org_apache_poi_poi_3_15.xml
.idea/libraries/Maven__org_apache_poi_poi_ooxml_3_15.xml
.idea/libraries/Maven__org_apache_poi_poi_ooxml_schemas_3_15.xml
.idea/libraries/Maven__org_apache_solr_solr_solrj_4_10_2.xml
.idea/libraries/Maven__org_apache_tomcat_tomcat_jdbc_7_0_52.xml
.idea/libraries/Maven__org_apache_tomcat_tomcat_juli_7_0_52.xml
.idea/libraries/Maven__org_apache_xmlbeans_xmlbeans_2_6_0.xml
.idea/libraries/Maven__org_apache_zookeeper_zookeeper_3_4_6.xml
.idea/libraries/Maven__org_apiguardian_apiguardian_api_1_0_0.xml
.idea/libraries/Maven__org_codehaus_woodstox_wstx_asl_3_2_7.xml
.idea/libraries/Maven__org_eclipse_jetty_jetty_client_9_4_7_v20170914.xml
.idea/libraries/Maven__org_eclipse_jetty_jetty_http_9_4_7_v20170914.xml
.idea/libraries/Maven__org_eclipse_jetty_jetty_io_9_4_7_v20170914.xml
.idea/libraries/Maven__org_eclipse_jetty_jetty_util_9_4_7_v20170914.xml
.idea/libraries/Maven__org_eclipse_jetty_jetty_xml_9_4_7_v20170914.xml
.idea/libraries/Maven__org_eclipse_jetty_websocket_websocket_api_9_4_
7_v20170914.xml
.idea/libraries/Maven__org_eclipse_jetty_websocket_websocket_client_9_4_7_v20170914.xml
.idea/libraries/Maven__org_eclipse_jetty_websocket_websocket_common_9_4_7_v20170914.xml
.idea/libraries/Maven__org_glassfish_javax_json_1_0_4.xml
.idea/libraries/Maven__org_hamcrest_hamcrest_core_1_3.xml
.idea/libraries/Maven__org_json_json_20140107.xml
.idea/libraries/Maven__org_jsoup_jsoup_1_7_3.xml
.idea/libraries/Maven__org_junit_jupiter_junit_jupiter_api_5_2_0.xml
.idea/libraries/Maven__org_junit_platform_junit_platform_commons_1_2_0.xml
.idea/libraries/Maven__org_mongodb_mongo_java_driver_2_14_0.xml
.idea/libraries/Maven__org_noggit_noggit_0_5.xml
.idea/libraries/Maven__org_opentest4j_opentest4j_1_1_0.xml
.idea/libraries/Maven__org_slf4j_jcl_over_slf4j_1_7_22.xml
.idea/libraries/Maven__org_slf4j_jul_to_slf4j_1_7_22.xml
.idea/libraries/Maven__org_slf4j_slf4j_api_1_6_1.xml
.idea/libraries/Maven__org_w3c_css_sac_1_3.xml
.idea/libraries/Maven__stax_stax_api_1_0_1.xml
.idea/libraries/Maven__xalan_serializer_2_7_2.xml
.idea/libraries/Maven__xalan_xalan_2_7_2.xml
.idea/libraries/Maven__xerces_xercesImpl_2_11_0.xml
.idea/libraries/Maven__xml_apis_xml_apis_1_4_01.xml
.idea/misc.xml
.idea/modules.xml
.idea/vcs.xml
.idea/workspace.xml
JavaLearning.iml
src/main/java/com/gbdata/jaxb/TestSubject.java___jb_tmp___
target/
