<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<Test>
	<testSubject>
		<person id="001" age="21">
			<firstName>test1</firstName>
			<!--<lastNAme>lastname1</lastNAme>-->
		</person>
		<person id="002" age="22">
			<firstName>test2</firstName>
			<lastNAme>lastname2</lastNAme>
		</person>
	</testSubject>
</Test>